<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


 <servlet>
 	<description>
 	</description>
 	<display-name>DataSourceUtils</display-name>
 	<servlet-name>DataSourceUtils</servlet-name>
 	<servlet-class>com.study.utils.DataSourceUtils</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>User</display-name>
 	<servlet-name>User</servlet-name>
 	<servlet-class>com.study.mail.User</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>MailUnits</display-name>
 	<servlet-name>MailUnits</servlet-name>
 	<servlet-class>com.study.mail.MailUnits</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>sqlTest</display-name>
 	<servlet-name>sqlTest</servlet-name>
 	<servlet-class>com.study.mail.sqlTest</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Junit</display-name>
 	<servlet-name>Junit</servlet-name>
 	<servlet-class>com.study.mail.Junit</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>DataSourceUtils</servlet-name>
 	<url-pattern>/DataSourceUtils</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>User</servlet-name>
 	<url-pattern>/User</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>MailUnits</servlet-name>
 	<url-pattern>/MailUnits</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>sqlTest</servlet-name>
 	<url-pattern>/sqlTest</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Junit</servlet-name>
 	<url-pattern>/Junit</url-pattern>
 </servlet-mapping>
 
    <listener>
	  <listener-class>
	     com.study.mail.MyServletContextListener
	  </listener-class>
	</listener>

</web-app>