<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Hibernate 会话工厂对象 -->
	<bean id="sessionFactory" class="utils.HibernateHelper"
		factory-method="getSessionFactory" />

	<!-- admin的层级结构 -->
	<!-- 用户管理的Dao,Service,Action -->
	<bean id="adminDao" class="dao.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- adminService 用户操作的业务对象 -->
	<bean id="adminService"
		class="service.AdminServiceImpl">
		<property name="dao" ref="adminDao" />
	</bean>

	<!-- adminAction 用户操作的控制器对象 -->
	<bean id="adminModel" class="entity.Admin"
		scope="prototype" />
	<bean id="AdminAction" class="action.AdminAction"
		scope="prototype">
		<property name="service" ref="adminService" />
		<property name="model" ref="adminModel" />
	</bean>

	
	<!-- Librarian的层级结构 -->
	<!-- 用户管理的Dao,Service,Action -->
	<bean id="librarianDao" class="dao.LibrarianDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- LibrarianService 用户操作的业务对象 -->
	<bean id="librarianService"
		class="service.LibrarianServiceImpl">
		<property name="dao" ref="librarianDao" />
	</bean>

	<!-- adminAction 用户操作的控制器对象 -->
	<bean id="librarianModel" class="entity.Librarian"
		scope="prototype" />
	<bean id="LibrarianAction" class="action.LibrarianAction"
		scope="prototype">
		<property name="service" ref="librarianService" />
		<property name="model" ref="librarianModel" />
	</bean>
	
	
	<!-- Reader的层级结构 -->
	<!-- 用户管理的Dao,Service,Action -->
	<bean id="readerDao" class="dao.ReaderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- adminService 用户操作的业务对象 -->
	<bean id="readerService"
		class="service.ReaderServiceImpl">
		<property name="dao" ref="readerDao" />
	</bean>

	<!-- adminAction 用户操作的控制器对象 -->
	<bean id="readerModel" class="entity.Reader"
		scope="prototype" />
	<bean id="ReaderAction" class="action.ReaderAction"
		scope="prototype">
		<property name="service" ref="readerService" />
		<property name="model" ref="readerModel" />
	</bean>
	
	
	<!-- Book的层级结构 -->
	<!--Book的Dao,Service,Action -->
	<bean id="bookDao" class="dao.BookDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- BookService 用户操作的业务对象 -->
	<bean id="bookService"
		class="service.BookServiceImpl">
		<property name="dao" ref="bookDao" />
	</bean>

	<!-- BookAction 用户操作的控制器对象 -->
	<bean id="bookModel" class="entity.Book"
		scope="prototype" />
		
	<bean id="BookAction" class="action.BookAction"
		scope="prototype">
		<property name="service" ref="bookService" />
		<property name="model" ref="bookModel" />
	</bean>
	
	<!-- Announcement的层级结构 -->
	<!--Announcement的Dao,Service,Action -->
	<bean id="announcementDao" class="dao.AnnouncementDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- AnnouncementService 用户操作的业务对象 -->
	<bean id="announcementService"
		class="service.AnnouncementServiceImpl">
		<property name="dao" ref="announcementDao" />
	</bean>

	<!-- AnnouncementAction 用户操作的控制器对象 -->
	<bean id="announcementModel" class="entity.Announcement"
		scope="prototype" />
		
	<bean id="AnnouncementAction" class="action.AnnouncementAction"
		scope="prototype">
		<property name="service" ref="announcementService" />
		<property name="model" ref="announcementModel" />
	</bean>
	
	<!-- BookDeleteRecord的层级结构 -->
	<!-- BookDeleteRecord的Dao,Service,Action -->
	<bean id="bookDeleteRecordDao" class="dao.BookDeleteRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- BookDeleteRecordService 用户操作的业务对象 -->
	<bean id="bookDeleteRecordService"
		class="service.BookDeleteRecordServiceImpl">
		<property name="dao" ref="bookDeleteRecordDao" />
	</bean>
	<!-- BookDeleteRecordAction 用户操作的控制器对象 -->
	<bean id="bookDeleteRecordModel" class="entity.BookDeleteRecord"
		scope="prototype" />
		
	<bean id="BookDeleteRecordAction" class="action.BookDeleteRecordAction"
		scope="prototype">
		<property name="service" ref="bookDeleteRecordService" />
		<property name="model" ref="bookDeleteRecordModel" />
	</bean>
	
	
	<!-- Record的层级结构 -->
	<!--Record的Dao,Service,Action -->
	<bean id="recordDao" class="dao.RecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- RecordService 用户操作的业务对象 -->
	<bean id="recordService"
		class="service.RecordServiceImpl">
		<property name="dao" ref="recordDao" />
	</bean>

	<!-- RecordAction 用户操作的控制器对象 -->
	<bean id="recordModel" class="entity.Record"
		scope="prototype" />
		
	<bean id="RecordAction" class="action.RecordAction"
		scope="prototype">
		<property name="service" ref="recordService" />
		<property name="model" ref="recordModel" />
	</bean>
</beans>